.idea/ 
.pytest_cache/ 
*.pyc 
*.pyo 
*$py.class 
Thumbs.db 
.DS_Store 
*.log 
*.tmp 
*.bak 
config/__pycache__/
pages/__pycache__/
reports/
screenshots/
tests/__pycache__/
tests/camera/__pycache__/
tests/menu/__pycache__/ 
utils/__pycache__/
data/read/3dMpdat3.mpdat
data/read/testData.mpdat
data/read/*.mpdat
data/save
.gitignore
