
pages/__pycache__/menu_page.cpython-310.pyc
tests/menu/__pycache__/test_menu_05_language.cpython-310-pytest-7.1.2.pyc
tests/menu/__pycache__/test_menu_public.cpython-310-pytest-7.1.2.pyc
utils/__pycache__/driver.cpython-310.pyc
pages/__pycache__/menu_page.cpython-310.pyc
